<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

    
<body>

    <div class="inventory-wrapper">
        <h1>Inventory</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Expiration Date</th>
                    <th>Source</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in item_units %}
                    {% set item_type = item_types.get(unit.type_id) %}
                    <tr>
                        <td>{{ unit.unit_id }}</td>
                        <td>{{ item_type.name if item_type else "Unknown" }}</td>
                        <td>{{ item_type.category if item_type else "Unknown" }}</td>
                        <td>{{ unit.exp_date }}</td>
                        <td>{{ unit.source }}</td>
                        <td>{{ unit.size }}</td>
                    </tr>
                    
                    <tr>
                        <td>1</td>
                        <td>Rice</td>
                        <td>Food</td>
                        <td>12/31/2025</td>
                        <td>Donation</td>
                        <td>50</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>