<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

    
<body>

    <div class="inventory-wrapper">
        <h1>Inventory Database</h1>

        <form method="POST" action="{{ url_for('add_item')}}">
            <input type="text" name="name" placeholder="Item Name" required>
            <input type="text" name="category" placeholder="Category" required>
            <input type="date" name="exp_date" placeholder="Expiration Date" required>
            <input type="text" name="source" placeholder="Source" required>
            <input type="number" name="quantity" placeholder="Quantity" required>
            <button type="submit">Add Item</button>
        </form>
        <div class="table_container">
            <table class="inventory_table"
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Expiration Date</th>
                        <th>Source</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unit in item_units %}
                        {% set item_type = item_types.get(unit.type_id) %}
                        <tr>
                            <td>{{ unit.unit_id }}</td>
                            <td>{{ item_type.name if item_type else "Unknown" }}</td>
                            <td>{{ item_type.category if item_type else "Unknown" }}</td>
                            <td>{{ unit.exp_date }}</td>
                            <td>{{ unit.source }}</td>
                            <td>{{ unit.size }}</td>
                        </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>