<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=2.0">
</head>
<body>

    <div class="container">
        <div class="header">
            <h2>Login to Inventory Management System</h2>
            <form method ="POST" action="/login">
                <input name="username" placeholder="Username" required>
                <input name="password" placeholder="Password" type="password" required>
                <button type="submit">Login</button>
                </form>
            
            <p>Please enter your credentials to access the inventory management system.</p>
        </div>














